<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lepitar.corvid19">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.SettingsActivity"
        android:label="설정"></activity>
        <activity android:name=".ui.UniverseAccount" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-1669410972998079~8732957529" />

        <activity
            android:name=".ui.TeacherActivity"
            android:screenOrientation="portrait" >
            <intent-filter>
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.SmsActivity" />
        <activity
            android:name=".ui.VerfyType"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.AreaActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.FinishActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.SchulSearch"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.Survey"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.MainActivity"
            android:screenOrientation="portrait" />

        <receiver
            android:name=".Alarm.DeviceBootReceiver"
            android:exported="false"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver android:name=".Alarm.AlarmReceiver" />
    </application>

</manifest>